* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    }

/* .app{
    height: 100vh;
    background-image: linear-gradient(180deg,#2f6ed3 5%,#5095e4 20%,#5095e4 60%,#2f6ed3 95%);

} */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(180deg,#2f6ed3 5%,#5095e4 20%,#5095e4 60%,#2f6ed3 95%);
}
.navbar{
    display: flex;
    justify-self: flex-end;
}
.card{
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    margin: 1rem;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media only screen and (max-width: 600px) {
    .card {
      max-width: 90%;
    }
  }

.city-name{
    margin-bottom: 10px;
    text-align: center;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.search button {
    background: #dde1eb;
    height: 2.3rem;
    margin: 0.3rem;
    border-radius: 50%;
    border: none;
    width: 2.3rem;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.search button:hover {
    background: #ffffff;
}
.search button:focus{
    background: #dde1eb;
}

input.search-bar {
    background: #dde1eb;
    border-radius: 19px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 120%;
    font-family: inherit;
    font-weight: 500;
}

h1.temp {
    font-size: 3.5rem;
    margin: 0;
    text-align: center;
  }
  
  .weather-status {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }

  .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 1rem;
  }
  
.details p{
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
   
}